* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #235789;
  font-family: sans-serif;
}

#appTitle {
  text-align: center;
  position: relative;
  top: 200px;
  font-size: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

input {
  padding: 13px;

  font-size: 14px;
  display: flex;
  justify-content: center;
  width: 396px;
  position: relative;
  border: none;
  outline: none;
  margin: 0 auto;
  top: 240px;
}

button {
  padding: 7px;
  width: 350px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 270px;
}

@media screen and (max-width: 1200px) {
  input {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 350px;
    position: relative;
    margin: 0 auto;
    top: 240px;
  }

  #appTitle {
    font-size: 1rem;
    letter-spacing: 0px;
  }
}
