* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #235789;
  font-family: sans-serif;
}

#appTitle {
  text-align: center;
  position: relative;
  top: 200px;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

input {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 300px;
  position: relative;
  top: 240px;
}

button {
  padding: 7px;
  width: 250px;

  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 270px;
}
