* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #235789;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

input {
  /* margin-top: 20px; */
  border: none;
  width: 350px;
  padding: 10px;
  position: relative;
  top: 250px;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
}

h2 {
  color: white;
  font-weight: 800;
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 210px;
}

button {
  text-align: center;
  padding: 10px;
  /* margin-top: 30px; */
  background-color: #8d99ae;
  display: flex;
  justify-content: center;
  border: none;
  width: 230px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: 290px;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 18px;
  }

  input {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 18px;
  }

  input {
    width: 250px;
  }
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 18px;
  }

  input {
    width: 330px;
  }
}
