* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #235789;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

#appTitle {
  position: relative;
  top: 189px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 5px;
}

input {
  /* margin-top: 20px; */
  border: none;
  width: 290px;
  padding: 10px;
  position: relative;
  top: 250px;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
}

#appTitle {
  color: white;
  font-weight: 800;
  text-align: center;
  font-size: 13px;
  position: relative;
  top: 210px;
}

button {
  text-align: center;
  padding: 10px;
  /* margin-top: 30px; */
  background-color: #8d99ae;
  display: flex;
  justify-content: center;
  border: none;
  width: 230px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: 290px;
}

@media screen and (max-width: 500px) {
  #appTitle {
    position: relative;
    top: 189px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
  }

  input {
    width: 290px;
  }
}

@media screen and (max-width: 600px) {
  #appTitle {
    position: relative;
    top: 189px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
  }

  input {
    width: 290px;
  }
}

@media screen and (max-width: 768px) {
  #appTitle {
    position: relative;
    top: 189px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
  }

  input {
    width: 290px;
  }
}

@media screen and (max-width: 1200px) {
  #appTitle {
    position: relative;
    top: 210px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
  }

  span {
    display: none;
  }

  input {
    width: 290px;
  }
}
