* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #235789;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 1rem;
  margin-top: 200px;
}

input {
  margin-top: 20px;
  border: none;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
}

h2 {
  font-size: 20px;
}

button {
  padding: 10px;
  margin-top: 30px;
  background-color: #8d99ae;
  display: flex;
  border: none;
  width: 200px;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 18px;
  }

  input {
    width: 350px;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 18px;
  }

  input {
    width: 350px;
  }
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 18px;
  }

  input {
    width: 280px;
  }
}
